.terminal-commands-container {
    margin: auto;
    margin-top: 50px;
    height: auto;
    text-align: left;
    background-color:lightblue;
    border: 2px solid black;
    border-radius: 15px;
    width: fit-content;
    padding: 10px;
}

